-

  # Observation Space (I/O)
  # -----------------------
  obs space:
    name: {{observation_from_jcb}}
    obsdatain:
      engine:
        type: H5File
        obsfile: "{{atmosphere_obsdatain_path}}/{{atmosphere_obsdatain_prefix}}{{observation_from_jcb}}{{atmosphere_obsdatain_suffix}}"
        missing file action: warn
      obsgrouping:
        group variables: [stationIdentification]
        sort variable: pressure
        sort order: descending
    obsdataout:
      engine:
        type: H5File
        obsfile: "{{atmosphere_obsdataout_path}}/{{atmosphere_obsdataout_prefix}}{{observation_from_jcb}}{{atmosphere_obsdataout_suffix}}"
    io pool:
      max pool size: 24
    simulated variables: [windEastward, windNorthward]

  # Observation Operator
  # --------------------
  obs operator:
    name: Composite
    components:
    - name: VertInterp
      variables:
      - name: windEastward
      - name: windNorthward
      # Hofx scaling
      #hofx scaling field: SurfaceWindScalingPressure
      #hofx scaling field group: DerivedVariables


  # Linear Observation Operator
  # ---------------------------
  linear obs operator:
    name: Composite
    components:
    - name: VertInterp
      variables:
      - name: windEastward
      - name: windNorthward

      # Hofx scaling
      #hofx scaling field: SurfaceWindScalingPressure
      #hofx scaling field group: DerivedVariables

  # Observation Filters (QC)
  # ------------------------
  obs filters:
    #
    # Reject all obs with PreQC mark already set above 0
  - filter: PreQC
    filter variables:
    - name: windEastward
    - name: windNorthward
    maxvalue: 0
    action:
      name: reject
