-

  # Observation Space (I/O)
  # -----------------------
  obs space:
    name: {{observation_from_jcb}}
    obsdatain:
      engine:
        type: H5File
        obsfile: "{{atmosphere_obsdatain_path}}/{{atmosphere_obsdatain_prefix}}{{observation_from_jcb}}{{atmosphere_obsdatain_suffix}}" 
        missing file action: warn
      obsgrouping:
        group variables: [stationIdentification]
        sort variable: pressure
        sort order: descending
    obsdataout:
      engine:
        type: H5File
        obsfile: "{{atmosphere_obsdataout_path}}/{{atmosphere_obsdataout_prefix}}{{observation_from_jcb}}{{atmosphere_obsdataout_suffix}}" 
    io pool:
      max pool size: 24
    simulated variables: [specificHumidity]

  # Observation Operator
  # --------------------
  obs operator:
    name: Composite
    components:
    - name: VertInterp
      variables: [specificHumidity ]

  # Linear Observation Operator
  # ---------------------------
  linear obs operator:
    name: Composite
    components:
    - name: VertInterp
      variables: [specificHumidity] 

  # Observation Filters (QC)
  # ------------------------
  obs filters:
    #
    # Reject all obs with PreQC mark already set above 0
  - filter: PreQC
    filter variables:
    - name: specificHumidity
    maxvalue: 0
    action:
      name: reject
